# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Allure 报告目录
reports/temps/
reports/allures/
reports/report.zip
reports/result.txt

# Python 编译缓存
*.pyc
.pytest_cache/

# IDE
.idea/
*.iml

# Environment
.env

# Cache
*.cache